// Tablets & Smaller
@media (max-width: 800px) {
  #header-home {
    height: 40rem;
    font-size: 1rem;

    span {
      font-size: 4rem;
    }

    .header-content {
      padding-top: 8rem;
      font-size: 1rem;
    }

    .circle {
      position: absolute;
      top: 4% !important;
      width: 450px !important;
    }

    h1 {
      font-size: 2.9srem !important;
    }
  }
  // About

  #about {
    &-a,
    &-b,
    &-c,
    &-d {
      .bio {
        font-size: 3rem;
      }
    }
  }

  // Projects
  // CueroPapel&Tijera
  #project-5 {
    iframe {
      width: 50px;
      height: 10px;
    }
  }
}

// Smartphones
@media (max-width: 500px) {
  .cursor {
    display: none;
  }

  #main-nav {
    flex-direction: column;
    align-items: center;
    z-index: 200;

    li {
      padding: 1rem;
    }
  }

  #header {
    &-home {
      height: 53rem;
      border-bottom: 3px solid $main-color;
      background-position: 20% 30%;

      span {
        font-size: 2rem;
      }

      .header-content {
        .circle {
          position: absolute;
          top: 10% !important;
          width: 350px !important;
        }
      }
    }
    &-inner {
      height: 10rem;
    }
  }

  // Stack Grid Columns
  #home-a .specials,
  #home-b .stats,
  #home-c .process,
  #about-d .testimonials,
  #contact-b .contact-info,
  .items {
    grid-template-columns: 1fr;
  }
  // Home
  #home {
    &-a {
      .specials div {
        border-bottom: 1px $light-color solid;
        padding-bottom: 1rem;

        &:last-child {
          border: none;
          padding-bottom: 0;
        }
      }
    }

    &-b {
      .stats div {
        padding: 2rem 0 1rem 0;
      }
    }
  }

  // About
  .swiper-container {
    width: 100%;
    height: calc(100vh - 15rem);
  }

  #about {
    &-a,
    &-b,
    &-c,
    &-d,
    &-e {
      .bio {
        font-size: 1.5rem;
        line-height: 50px;
      }
    }

    &-b {
      img {
        width: 130px;
        margin-bottom: -21px;
        margin-left: 0.3rem;
        // display: inline;
      }
    }
    &-d {
      .sub {
        font-size: 1.5rem !important;
        line-height: 50px;
        letter-spacing: 0px;
      }
    }
    &-c {
      .arrow {
        margin-top: 2rem;
        margin-left: 5rem;
      }
    }

    &-e {
      .small {
        font-size: 2rem !important;
        line-height: 0px !important;
      }
    }
  }

  // Contact
  #main-nav {
    ul,
    a {
      z-index: 200 !important;
    }
  }

  #contact {
    &-a {
      .circle {
        position: absolute;
        top: 30% !important;
        width: 350px !important;
      }

      .section-title2 {
        font-size: 2rem;
        margin-top: 28rem;
      }

      .form {
        margin-top: -1.4rem !important;
      }

      button[type="submit"] {
        margin-top: 6rem !important;
        background-color: $accent-color;
      }

      .contact-info1 {
        margin-top: 1rem;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
      }
    }

    &-b {
      padding-bottom: 0;
      padding-top: 0;

      .contact-info2 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
      }
    }
  }

  // Projects

  #headerproject-1,
  #headerproject-4,
  #headerproject-5,
  #headerproject-6,
  #headerproject-7 {
    height: 40vh;
  }

  #project-1,
  #project-4,
  #project-5,
  #project-6,
  #project-7 {
    .intro {
      margin-top: 3rem;
    }

    .intro-content {
      flex-direction: column;
    }

    .intro-text2 {
      margin-bottom: 4rem;
      width: 100%;
      text-align: center;
    }
  }

  #info-1 {
    .container {
      padding: 0.5rem;
    }

    margin-top: 0;
    .infoblock-4,
    .infoblock-1,
    .infoblock-2,
    .infoblock-3 {
      flex-direction: column;
      width: 100%;
      margin: 0;

      .info-title {
        width: 100%;
      }
    }

    .screenShow {
      display: none;
    }

    .infoblock-3 {
      .info-title {
        text-align: center;
      }
      .info-visual {
        margin: 0;
        width: 100%;
      }
    }
  }

  // // Footer
  // #main-footer {
  //   height: 7rem;
}

// Landscape
@media (max-height: 580px) {
  #header-home {
    .header-content {
      padding-top: 3rem;
    }
  }
}

// 5s
@media (max-height: 330px) {
  #header-home {
    .header-content {
      h1 {
        font-size: 2rem;
      }
    }
  }
}
