// Utilities
.container {
  max-width: $website-width;
  padding: 1.5rem;
  margin: auto;
  overflow: hidden;
}

// Buttons
%btn-shared {
  display: inline-block;
  padding: 0.8rem 2rem;
  transition: all 0.5;
  border: none;
  cursor: pointer;
}

.btn {
  &-main {
    @extend %btn-shared;
    color: rgb(51, 51, 51);
    background-color: $main-color;
  }

  &-light {
    @extend %btn-shared;
    color: rgb(51, 51, 51);
    background-color: $light-color;
  }

  &-dark {
    @extend %btn-shared;
    color: #f4f4f4;
    background-color: $dark-color;
  }
  &-special {
    @extend %btn-shared;
    color: #f4f4f4;
    background-color: transparent;
    border: 2px solid #fff;
  }
  &-special2 {
    @extend %btn-shared;
    color: rgb(51, 51, 51);
    background-color: transparent;
    border: 2px solid $accent-color;
  }
}

button[class^="btn-"]:hover,
a[class^="btn-"]:hover,
input[class^="btn-"]:hover {
  background-color: $accent-color;
  color: #fff;
  transition: 0.5s ease-in;
}

// Backgrounds
.bg {
  &-main {
    background: $main-color;
    color: set-text-color($main-color);
  }
  &-dark {
    background: $dark-color;
    color: set-text-color($dark-color);
  }
  &-light {
    background: $light-color;
    color: set-text-color($light-color);
  }
  &-medium {
    background: $medium-color;
    color: set-text-color($medium-color);
  }
}

.lead {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}

// Padding
.py {
  &-1 {
    padding: 1rem 0;
  }
  &-2 {
    padding: 2rem 0;
  }
  &-3 {
    padding: 3rem 0;
  }
  &-4 {
    padding: 4rem 0;
  }
}
// Margin
.my {
  &-1 {
    margin: 1rem 0;
  }
  &-2 {
    margin: 2rem 0;
  }
  &-3 {
    margin: 3rem 0;
  }
  &-4 {
    margin: 4rem 0;
  }
}

// Section Title
.section-title {
  font-size: 2rem;
  display: block;
  padding-bottom: 0.5rem;
  text-align: center;
  font-weight: 100;
  text-transform: uppercase;
}
.section-title2 {
  font-size: 2.5rem;
  display: block;
  text-align: center;
  font-weight: 900;
  text-transform: uppercase;
}

// Import Media Queries
@import "media";
