// Variables
$website-width: 1280px;
$main-color: #208a92;
$accent-color: #e6a29f;
$accent-color2: #44d4cd;
$light-color: #f1f0f0;
$medium-color: #d4dae4;
$dark-color: #d4dae4;
$bg-image: url("../img/showcase.jpg");

// Functions
// Flex Space Around
@mixin flexSpaceAround($direction) {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: $direction;
}

// Set Text Color
@function set-text-color($color) {
  @if (lightness($color) >50) {
    @return rgb(51, 51, 51);
  } @else {
    @return #fff;
  }
}
