@import "varfunc";
@import "utilities";
@import "project_inside";
@import "project_grid";

// General Styles

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans HK", sans-serif;
  line-height: 1.6;
  height: 100vh;
  background: #fff;
  // cursor: none;
}

// Cursor
.cursor {
  pointer-events: none;
  width: 25px;
  height: 25px;
  border: 1px solid #e07025;
  z-index: 2;
  background: rgba($color: $accent-color, $alpha: 0.6);
  border-radius: 50%;
  position: absolute;
  transition-duration: 200ms;
  transition-timing-function: ease-out;
  animation: cursorAnim 0.7s infinite alternate;

  @keyframes cursorAnim {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(0.8);
    }
  }
}

// General
a {
  text-decoration: none;
  color: $dark-color;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

// logo
#logo {
  padding-top: 0.5rem;
  font-size: 1.5rem;
  color: #fff;
}

// Main Nav
#main-nav {
  display: flex;
  justify-content: space-between;
  padding-top: 0.5rem;

  ul {
    display: flex;
  }

  li {
    padding: 1rem 1.5rem;
  }

  a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    border-bottom: 3px transparent solid;
    padding-bottom: 0.5rem;
    transition: border-color 0.5s;

    &:hover {
      border-color: $medium-color;
    }

    &.current {
      border-color: $main-color;
    }
  }

  .logo {
    border-bottom: none;
  }
}

// Header
.colorOpacity {
  position: relative;
  height: 100vh;
  width: 100%;
  transition: opacity 0.5s ease-in;
}

// Header Home
#header {
  &-home {
    opacity: 1;
    width: 100%;
    position: relative;
    margin: auto 0;
    color: #fff;
    height: 100vh;

    .first {
      font-size: 1rem !important;
    }

    span {
      font-family: "Noto Sans HK", sans-serif;
      font-size: 5rem;
      font-weight: 900;
    }

    span:before {
      content: "";
      animation: animateCircle infinite 10s;
    }

    @keyframes animateCircle {
      0% {
        content: "VR & AR";
      }
      25% {
        content: "EXPERIENCE DESIGN";
      }
      50% {
        content: "VIDEO & PHOTO";
      }
      75% {
        content: "CREATIVE STRATEGY";
      }
      100% {
        content: "UX & UI";
      }
    }

    // Header Content
    .header-content {
      position: relative;
      text-align: center;
      margin: auto;
      height: 100vh;
      padding-top: 20%;
      animation: aniIntro 1s ease-in;
      z-index: 1;

      @keyframes aniIntro {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }

      h1 {
        font-size: 4rem;
        line-height: 1.2;
      }

      a {
        border-radius: 50px;
        animation: animate 3s ease-in;
      }

      .circle-parent {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
      }
      .circle {
        position: absolute;
        top: 13%;
        width: 500px;
        z-index: -1;
        border-radius: 50%;
        background: linear-gradient(
          140deg,
          $accent-color,
          #4aa0a0,
          $main-color
        );
        background-size: 150% 150%;
        background-size: no-repeat 20% 30% / cover;

        -webkit-animation: gradiente 5s ease infinite;
        -moz-animation: gradiente 5s ease infinite;
        animation: gradiente 5s ease infinite, circleAnim 4s infinite alternate;

        @-webkit-keyframes gradiente {
          0% {
            background-position: 0% 48%;
          }
          50% {
            background-position: 100% 53%;
          }
          100% {
            background-position: 0% 48%;
          }
        }
        @-moz-keyframes gradiente {
          0% {
            background-position: 0% 48%;
          }
          50% {
            background-position: 100% 53%;
          }
          100% {
            background-position: 0% 48%;
          }
        }
        @keyframes gradiente {
          0% {
            background-position: 0% 48%;
          }
          50% {
            background-position: 100% 53%;
          }
          100% {
            background-position: 0% 48%;
          }
        }

        @keyframes circleAnim {
          from {
            transform: scale(1);
          }
          to {
            transform: scale(1.05);
          }
        }
      }

      .circle:after {
        content: "";
        padding-bottom: 100%;
        display: block;
      }
    }
  }

  // Header Inner
  &-inner {
    #logo {
      color: #333;
    }

    #main-nav {
      color: #333 !important;

      a {
        color: #333;
      }
    }
  }
}

// About Sections
.swiper-container {
  width: 100%;
  height: calc(100vh - 11rem);
  animation: animate 1s ease-in;
  z-index: 1;

  @keyframes animate {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
.swiper-slide {
  text-align: left;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-pagination-bullet-active {
  background: #e07025;
}

#about {
  // About-A

  &-a {
    .bio {
      font-size: 4rem;
      font-weight: 900;
      text-align: left;
      cursor: grab;
      line-height: 110px;
      letter-spacing: -3px;
    }

    .color {
      transform: translateY(-50%);
      width: 100%;
    }

    .text-color {
      background-image: linear-gradient(
        to right,
        rgb(217, 236, 41),
        rgb(55, 206, 198),
        rgb(49, 202, 95),
        rgb(70, 117, 206)
      );
      -webkit-background-clip: text;
      color: transparent;
      animation: animateColor 20s linear infinite;
      background-size: 1000%;
    }

    @keyframes animateColor {
      0% {
        background-position: 0% 100%;
      }
      50% {
        background-position: 100% 100%;
      }
      100% {
        background-position: 0% 100%;
      }
    }

    .tachado {
      text-decoration: line-through;
    }
  }

  // About-B
  &-b {
    .bio {
      cursor: grab;
      display: flex;
      flex-direction: column;
      font-size: 4rem;
      font-weight: 900;
      text-align: left;
      line-height: 110px;
      letter-spacing: -3px;
    }

    img {
      width: 300px;
      margin-bottom: -45px;
      margin-left: 1rem;
    }

    h3 {
      color: $accent-color;
    }
  }
  // About-C
  &-c {
    .bio {
      font-size: 4rem;
      font-weight: 900;
      text-align: left;
      display: flex;
      flex-direction: column;
      line-height: 110px;
      cursor: grab;
      letter-spacing: -3px;
    }
    #arrowAnim {
      width: 10vw;
      height: 10vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .arrow {
      width: 2vw;
      height: 2vw;
      border: 1.5vw solid;
      margin-top: 2rem;
      margin-left: 12rem;
      border-color: $main-color transparent transparent $main-color;
      transform: rotate(135deg);
    }

    .arrowSliding {
      position: absolute;
      -webkit-animation: slide 4s linear infinite;
      animation: slide 4s linear infinite;
    }

    .delay1 {
      -webkit-animation-delay: 1s;
      animation-delay: 1s;
    }
    .delay2 {
      -webkit-animation-delay: 2s;
      animation-delay: 2s;
    }
    .delay3 {
      -webkit-animation-delay: 3s;
      animation-delay: 3s;
    }

    @-webkit-keyframes slide {
      0% {
        opacity: 0;
        transform: translateX(-15vw);
      }
      20% {
        opacity: 1;
        transform: translateX(-9vw);
      }
      80% {
        opacity: 1;
        transform: translateX(9vw);
      }
      100% {
        opacity: 0;
        transform: translateX(15vw);
      }
    }
    @keyframes slide {
      0% {
        opacity: 0;
        transform: translateX(-15vw);
      }
      20% {
        opacity: 1;
        transform: translateX(-9vw);
      }
      80% {
        opacity: 1;
        transform: translateX(9vw);
      }
      100% {
        opacity: 0;
        transform: translateX(15vw);
      }
    }
  }

  // About-D
  &-d {
    .bio {
      font-size: 4rem;
      font-weight: 900;
      text-align: left;
      display: flex;
      flex-direction: column;
      line-height: 110px;
      cursor: grab;
      letter-spacing: -3px;

      .sub {
        font-size: 2rem;
        color: $accent-color;
      }
    }
  }
  // About-E
  &-e {
    .bio {
      font-size: 3.5rem;
      font-weight: 900;
      text-align: left;
      line-height: 110px;
      cursor: grab;
      letter-spacing: -3px;
    }

    a {
      text-decoration: none;
      color: $accent-color2;
      display: inline-block;
      transition: all 0.5s ease;
    }
    a:hover {
      transform: scale(1.2);
      color: #248ca7;
    }

    .small {
      font-size: 3.8rem;
    }
  }
}

// Contact Page

.bigbox {
  height: 100vh;
  background: #fdeeea;
  position: relative;
  text-align: center;
}
#contact {
  // Contact-A (Contact Form)
  &-a {
    position: relative;
    top: 45%;
    transform: perspective(1px) translateY(-50%);
    animation: aniIntro 1s ease-in;
    z-index: 1;
    color: #fff;

    @keyframes aniIntro {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }

    .circle-parent {
      display: flex;
      width: 100%;
      justify-content: center;
    }
    .circle {
      position: absolute;
      top: -9%;
      background: $main-color;
      color: #fff;
      // border: solid 1px #248ca7;
      // opacity: 0;
      width: 500px;
      z-index: -1;
      border-radius: 50%;
      animation: AnimationName 3s ease infinite,
        circleAnim 4s infinite alternate;

      @keyframes circleAnim {
        from {
          transform: scale(1);
        }
        to {
          transform: scale(1.05);
        }
      }
    }
    .circle:after {
      content: "";
      padding-bottom: 100%;
      display: block;
    }

    .form {
      display: inline-block;
      width: 100%;
      text-align: center;
      color: #fff;
    }

    form {
      display: inline-block;
      text-align: center;
    }

    .name-section,
    .email-section,
    .message-section {
      width: 100%;
      height: 75px;
      position: relative;
      font-size: 0.9rem;
      overflow: hidden;

      input {
        width: 100%;
        height: 100%;
        color: $light-color;
        padding-top: 25px;
        border: none;
        outline: none;
        background-color: transparent;
      }

      textarea {
        width: 100%;
        height: 100%;
        color: $light-color;
        padding-top: 40px;
        border: none;
        outline: none;
        background-color: transparent;
      }

      label {
        position: absolute;
        bottom: 0px;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        border-bottom: 1px solid $accent-color2;
      }

      label::after {
        content: "";
        position: absolute;
        left: 0px;
        bottom: -1px;
        height: 100%;
        width: 100%;
        border-bottom: 3px solid $accent-color;
        transform: translateX(-100%);
        transition: transform 0.3ms ease;
      }

      .content-name,
      .content-email,
      .content-message {
        position: absolute;
        bottom: 5px;
        left: 0px;
        transition: all 0.3s ease;
      }

      input,
      textarea {
        &:focus + .label-name .content-name,
        &:valid + .label-name .content-name,
        &:focus + .label-email .content-email,
        &:valid + .label-email .content-email,
        &:focus + .label-message .content-message,
        &:valid + .label-message .content-message {
          transform: translateY(-150%);
          font-size: 0.8rem;
          color: $accent-color2;
        }

        &:focus + .label-name::after,
        &:valid + .lable-name::after,
        &:focus + .label-email::after,
        &:valid + .lable-email::after,
        &:focus + .label-message::after,
        &:valid + .lable-message::after {
          transform: translateX(0%);
        }
      }
    }

    button[type="submit"] {
      color: #fff;
      width: 100%;
      border-radius: 50px;
      font-size: 1.2rem;
      display: block;
      margin: 1rem auto !important;
    }
  }

  &-b {
    margin-top: 4rem;
    background: #fdeeea;
    a {
      color: $main-color;
      margin: 0.3rem;
      transition: color 0.5s;

      &:hover {
        color: $accent-color;
      }
    }
    .contact-info1 {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      text-align: center;
      color: $main-color;

      div {
        margin: 1.5rem;
      }
    }
    .contact-info2 {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 1rem;
      text-align: center;
    }
  }
}

// Footer
#main-footer {
  color: $main-color;
  height: 5rem;
  z-index: 1;

  .footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1rem;
    height: 5rem;
    align-items: center;
    color: $main-color;

    p {
      font-size: 0.7rem;
      text-align: center;
    }
  }
}

// Import Media Queries
@import "media";
